version: '3.8'

services:
  nextjs:
    image: shamimrana2006/nextjs-app:latest
    ports:
      - "5485:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  caddy:
    image: caddy:2-alpine
    container_name: asdfg_caddy
    restart: always
    profiles:
      - prod
    ports:
      - '80:80'
      - '443:443'
      - '443:443/udp'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - nextjs


# services:
#   nextjs:
#     build: .
#     image: shamimrana2006/nextjs-app:latest
#     ports:
#       - "3000:3000"
#     environment:
#       - NODE_ENV=production
#     restart: unless-stopped
