version: '3.8'

services:
  nextjs:
    image: shamimrana2006/nextjs-app:latest
    container_name: nextjs_app
    ports:
      - "5485:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    external: true
